body {
    font-family: Arial, sans-serif;
}

.hotel-grid {
    display: flex;
    gap: 10px;
}

.hotel-card {
    border: 1px solid #ddd;
    padding: 10px;
}

    .hotel-card img {
        width: 100%;
        height: auto;
    }

/*.testimonial {
    margin-top: 20px;
    text-align: center;
}*/
